<% if member_signed_in? %>

<h3>you have succesfully signed in</h3>

<% end %>

<%= render :partial => "/shared/list" %>


<% if !member_signed_in? %>
          <% param1 = params[:param1]%>
          <% if param1 = "unsigned"%>
            <h2>you need to sign in to add new article</h2>
          <% end %>
          
<% end %>