// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

.btn-default {
  background: #ec6523;
  color: #fff;
  border: 0px;
}

.btn-primary {
  background: #33ffd7;
  color: #fff;
  border: 0px;
  line-height: 0.35;
}

.btn-default:hover {
  background: #333;
  color: #eee;
  border: 0px;
  outline: none;
}

.btn-default:active {
  outline: none;
  background: #333;
}

.btn-default:focus {
  background: #ec6523;
  color: #fff;
  outline: none;
}


/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
  *= require twitter/bootstrap
 */
